 :root {
    --main-color:pink;
    --border:0.1rem solid rgba(255, 255, 255, 0.4);

 }
 
 
 
 
 
 
 
 
 
 *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
 }
 
 html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
 }
 body{
    background-color: rgb(156, 67, 240);
    height: 200vh;
 }
 
  .logo img { 
        height: 7rem;

    }

   .header .logo img { 
        height: 7rem;

    }
    
    .header { 
        background-color: beige;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 7%;
        margin: 2rem 7%;
        border-radius: 30rem;
         z-index: 1000;


    }
    .header .navbar a{
        margin: 0 1rem;
        font-size: 1.6rem;
        color:black;
        border-bottom:0.1rem solid transparent;
    }
     .header .navbar a:hover{
        border-color: blueviolet;
        padding-bottom: 0.5rem;
     }